.body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  /* align-content: center; */
  justify-content: center;
  overflow: auto;
  background-color: #e9e7e9;
  font-family: Arial;
}

.app {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  width: 75%;
}

.header_image {
  width: 100%;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.input__login {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #05a58d;
  width: 100%;
  box-sizing: border-box;
}

.btn {
  background-color: #05a58d;
  border-radius: 5px;
  border: none;
  padding: 10px 10px;
  color: #e9e7e9;
  width: 100%;
  cursor: pointer;
}

.btn_noctive {
  background-color: #909095;
}
.lobby {
  width: 100%;
}
.lobby__name {
  margin: 10px 0px;
  background-color: #aed5ce;
  color: rgb(122, 122, 122);
  padding: 10px 10px;
  border-radius: 10px;
}
.waiting {
  font-family: Arial;
  color: rgb(122, 122, 122);
  text-align: center;
}
.waiting__clock {
  height: 100px;
}
.waiting__text {
  margin: 10px 0px;
  color: rgb(122, 122, 122);
  padding: 10px 10px;
  border-radius: 10px;
}

.game {
  font-family: Arial;
  color: rgb(122, 122, 122);
  text-align: center;
}
.game_image {
  height: 100px;
}
.game__btns {
  display: flex;
  flex-direction: column;
}
.game__btn {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  padding: 10px 10px;
}
.game__btn img {
  width: 15%;
  background-color: #aed5ce;
  border-radius: 20px;
}
.win {
  font-family: Arial;
  color: rgb(122, 122, 122);
  text-align: center;
}
.win__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.win__image {
  width: 30%;
  margin: 20px 0;
}
